/*
  Page-Blocks
*/
html, body, .full-height {
  height: 100%;
}
.ide-whole {
  min-width: 800px;
}
.ide-header {
  height: 10%;
  min-height: 50px;
}
.ide-content {
  height: 90%;
  min-height: 500px;
}
.ide-right {
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.ide-screen-header {
  margin-top: 0;
  padding-bottom: 0;
}
.ide-screen {
  height: 35%;
  margin-top: 10px;
  overflow: auto;
}
.ide-left {
  height: 100%;
}
.ide-left-header {
  height: 5%;
}
.ide-left-content {
  height: 80%;
  overflow: auto;
}
.ide-left-status {
  height: 5%;
}
.ide-left-footer {
  text-align: center;
  padding-top: 10px;
  height: 10%;
}

.editor-line-obi {
  height: 100%;
  text-align: right;
  width: 40px;
}
.editor-breakpoint-obi {
  height: 100%;
  text-align: center;
  width: 25px;
}
.editor-box {
  min-height: 100%;
}

.editor-status-a {
  width: 40px;
}
.editor-status-b {
  width: 40px;
}
.editor-status-c {
  background-color: #404040;
  height: 100%;
  max-height: 25px;
}

/*
  Editor's elements
*/
.panel-position {
  position: absolute;
  left: 0; top: 0;
  width:100%;
  min-height: 100%;
}
.editor-cstyle {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-size: 1em;
  line-height: 1.2em;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
}
.editor-back-panel {
  background-color: #282b2e;
  color: #c4c4c4;
}
.editor-front-panel {
  background-color: rgba(0,0,0,0);
  border: none;
  resize: none;
  color: rgba(0, 0, 0, 0);
}
.caret {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  left: 0; top: 0;
  height: 1.2em; width: 1px;
  background-color: white;
}
.bg-grey {
  background-color: #55595c;
  color: white;
}
.bpoint {
  text-align: center;
  width: 100%;
  height: 1.2em;
}
.bpoint:hover {
  background-color: #aaaaaa;
}
.clickable {
  cursor: pointer;
}
.btn-position {
  margin-left: 5px;
  margin-right: 5px;
}

/*
  Font Styles
*/
.color-green {
  color: #36D86C;
}
.color-red {
  color: #FF5C3F;
}
.color-thin {
  color: grey;
}
.break-point-symbol {
  color: #D22B2B;
  font-size: 0.8em
}
.key-word {
  color: #cc7832;
}
.int-word {
  color: #6897BB;
}
.value-word {
  color: #6897BB;
}
.exp-error {
  background-color: rgba(255, 0, 0, 0.3);
}
.position-error {
  border-bottom: solid 1px red;
}
.breaking-exp {
  background-color: rgba(0, 255, 255, 0.3);
}
